@page "/identity/account/register"
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <EditForm Model="User" OnValidSubmit="HandleRegistration">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="card">
                    <div class="card-header">Fill this form to Register</div>
                    <div class="card-body">
                        <div class="form-group mt-3">
                            <label class="form-label">Fullname</label>
                            <InputText @bind-Value="User.Fullname" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="User.email" class="form-control" />
                        </div>

                        <div class="form-group mt-3">
                            <label class="form-label">Password</label>
                            <InputText @bind-Value="User.password" type="password" class="form-control" />
                        </div>

                        <div class="form-group mt-3">
                            <label class="form-label">ConfirmPassword</label>
                            <InputText @bind-Value="User.ConfirmPassword" type="password" class="form-control" />
                        </div>

                        <div class="form-group mt-3">
                            <button class="btn btn-outline-primary float-end" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {

    Register User = new();

    async Task HandleRegistration()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        var result = await accountService.CreateAsync(User);
        if (result is not null)
        {
            NavManager.NavigateTo("/identity/account/login", forceLoad: true);
        }
    }

}
